<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body ng-app>
    <div>
        <input type="text" ng-model="nombre">
        <p ng-init="nombre='manuel'">{{ nombre }}</p>
        <input type="button" value="Nombre" ng-click="nombre='manuel'">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</body>

</html>